*           @udacity/active-public-content
This project was completed via a template provided by Udacity during my Introduction to Programming nanodegree. The main objective of the project was to build out the .js file.
The template for the .js file was just basic function definition template, with nothing else specified, e.g. your typical // write your code here, scenario.
